@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Roboto&display=swap');

:root {
  --lightYellow: #f8df78;
  --midYellow: #ffd764;
  --darkYellow: #ccac50;
  --lightBlue: #b0d0eb;
  --midBlue: #86b9e1;
  --darkBlue: #7699c1;
  --lightBrown: #7c7663;
  --midBrown: #846c45;
  --darkBrown: #675437;
  --lightGreen: #aadd92;
  --midGreen: #7ea356;
  --darkGreen: #658245;
  --textFont: 'Roboto', sans-serif;
  --titleFont: 'Barlow Semi Condensed', sans-serif, bolder;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url('assets/background.png');
  background-repeat: no-repeat;
  background-position: 25% 75%;
  background-size: cover;
}

header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--darkBrown);
  align-items: center;
  background-color: var(--midGreen);
}

h1 {
  font-family: var(--titleFont);
  font-size: 2.5rem;
  text-align: center;
  color: var(--lightYellow);
  text-shadow:
    -1px -1px 0 var(--darkBlue),
    1px -1px 0 var(--darkBlue),
    -1px 1px 0 var(--darkBlue),
    2px 7px 7px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0.5rem;
  padding-left: 0.5rem;
  width : 80%;
}

.egg-logo {
  height: 3rem;
  padding-left: 1rem;
}

header nav.desktop-navigation {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 3rem;
}

main .bar-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

main #xp-text {
  align-self: flex-end;
  margin-right: 6.2rem;
  margin-bottom: 0;
  font-family: var(--textFont);
  color: white;
}

main #background-bar {
  width: 50%;
  height: 15px;
  border-radius: 12px;
  background-color: var(--lightBrown);
  opacity: 0.8;
  box-shadow: 2px 2px var(--midBrown);
}

main #foreground-bar {
  width: 0;
  height: 15px;
  border-radius: 12px;
  background-color: var(--lightGreen);
}

.eggSprite {
  display: flex;
  justify-self: center;
  align-self: center;
  width: auto;
  height: 25rem;
  padding-top: 4rem;
  transition: transform 0.3s ease;
}

@keyframes eggSpriteAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.eggSprite.clicked {
  animation-name: eggSpriteAnimation;
  animation-duration: 0.2s;
}

.avatar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  clip: rect(0, 100px, 70px, 0);
}

input[type='radio'] {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h2 {
  text-align: center;
  display: block;
}

footer ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

footer button {
  flex: 3 0 auto;
  height: 3.2rem;
  border: 0.2px solid white;
  border-radius: 5px;
  border-bottom: 0px;
  background-color: var(--midGreen);
  padding: 0;
}

footer button.selected {
  flex: 4 0 auto;
  background-color: var(--darkGreen);
}

footer a {
  font-family: var(--textFont);
  text-decoration: none;
  color: white;
}

main,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  padding: 0.4rem;
}

input[type='text'] {
  padding: 0.2rem;
  border-radius: 15px;
  border-color: #7ea356;
}

#choose {
  background-color: transparent;
  border: none;
}

#choose,
image {
  padding: 0;
}

/*Stat page */

.stat-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1.25rem 1.5rem;
  padding-top: 2rem;
}

.unknow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.nothing {
  display: flex;
  align-items: center;
  background-color: none;
  color: var(--lightYellow);
  font-family: var(--textFont);
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  border-right: 1px solid var(--lightYellow);
  height: 100%;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
  padding-right: 0.5rem;
  font-family: var(--textFont);
  color: var(--midBrown);
  background-color: var(--lightYellow);
}

.trophy {
  height: 3.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: var(--darkYellow);
}

.graph-stat {
  margin-top: 5rem;
  display: flex;
  height: 14rem;
}

/* Player page */

.playerInfo {
  display: flex;
  margin-bottom: 5rem;
  margin-top: 2rem;
  width: 100%;
  justify-content: space-around;
}

.avatarChosen {
  width: 6rem;
  align-self: center;
  text-align: center;
}

.usernameChosen {
  width: 8rem;
  text-align: center;
  background-color: var(--midBlue);
  font-family: var(--textFont);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.level {
  width: 3rem;
  text-align: center;
  background-color: var(--lightYellow);
  font-family: var(--textFont);
  color: var(--darkBrown);
  border-radius: 150px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.score-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  margin-bottom: 4rem;
}

.points {
  display: flex;
  flex-direction: column;
  font-family: var(--textFont);
  width: 7rem;
  background-color: var(--darkBlue);
  color: rgb(255, 255, 255, 0.6);
  border-radius: 10px;
}

.score-title {
  justify-content: center;
  margin-bottom: 0%;
  font-size: 1rem;
}

.total-points {
  justify-content: left;
  flex-wrap: wrap;
}

.bonus-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: var(--textFont);
  border-radius: 10px;
  background-color: rgba(248, 223, 120, 0.7);
}

#first-icon, #second-icon {
  border-bottom: 1px solid var(--midBrown);
}

.star-bonus {
  height: 4rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.bonus-name {
  display: flex;
  align-items: center;
  color: var(--lightBrown);
  font-weight: 600;
  width: 100%;
}

main div.bonus-name p {
  text-align: center;
  width: 100%;
}

#first-bonus, #second-bonus {
  border-bottom: 1px solid var(--midBrown);
}

.bonus-icons, .bonus-name {
  margin-top: 0.5rem;
}

/* Pop-up */

#username {
  margin-top: 1rem;
  padding: 0.2rem;
  border-radius: 15px solid;
  border-style: solid var(--darkBrown);
}

input[type="radio"] {
  color: var(--darkYellow)
}

.chooseButton {
  margin-top: 1rem;
  padding: 1rem;
  font-family: var(--textFont);
  font-weight: 0;
  font-size: 17px;
  color: whitesmoke;
  background-color: var(--midGreen);
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  transition: 1511ms;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.chooseButton:hover {
  transition: 1511ms;
  padding: 10px 50px;
  background-color: whitesmoke;
  color: var(--darkGreen);
  border: solid 2px var(--darkGreen);
}

.popup {
  display: flex;
  gap: 2rem;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  align-items: center;
}

.popup, h2 {
  margin-bottom: 3rem;
  font-family: var(--textFont);
  color: whitesmoke;
}

@media screen and (min-width: 600px) {

  .popup, h2 {
    font-size: 3rem;
    margin-bottom: 6.5rem;
  }

  .chooseButton {
    margin-top: 3rem;
    font-size: 25px;
  }

  .avatar {
    justify-content: space-around;
    margin-bottom: 2rem;
    
  }

  #username {
    padding: 0.9rem;
    border-radius: 30px;
  }

  header {
    flex-direction: row;
  }

  header h1 {
    text-align: left;
    font-size: 1.8rem;
    margin-left: 2rem;
  }

  header nav.desktop-navigation {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  header nav.desktop-navigation ul {
    padding-right: 3rem;
  }
  
  header nav.desktop-navigation > ul li {
    display: inline-block;
    padding: 0.5rem;
    height: 100%;
  }

  header nav.desktop-navigation > ul li:hover {
    border-radius: 5px;
    background-color: var(--darkGreen);
  }
  header nav.desktop-navigation > ul li a {
    height: 100%;
    font-family: var(--textFont);
    text-decoration: none;
    color: white;
  }

  header nav.desktop-navigation ul #statistics, #home {
    border-right: 1px solid var(--lightBrown);
  }
  
  .egg-logo {
    margin-left: 0.8rem;
  }

  main #xp-text {
    align-self: center;
    margin-right: 0rem;
    margin-bottom: 0;
    font-family: var(--textFont);
    color: white;
  }


  main #background-bar {
    width: 20%;
  }

  footer nav.mobile-navigation {
    display: none;
  }
}
