:root {
    --lightYellow: #F8DF78;
    --midYellow: #FFD764;
    --darkYellow: #CCAC50;
    --lightBlue: #B0D0EB;
    --midBlue: #86B9E1;
    --darkBlue: #7699C1;
    --lightBrown: #7C7663;
    --midBrown: #846C45;
    --darkBrown: #675437;
    --lightGreen: #AADD92;
    --midGreen: #7EA356;
    --darkGreen: #658245;
    --textFont: 'Roboto', sans-serif;
    --titleFont: 'Barlow Semi Condensed', sans-serif, bolder;

}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    width: 100%;
}

header,
h1 {
    justify-content: center;
    align-self: center;
    font-family: var(--titleFont);
    font-size: 2.5rem;
    color: var(--lightYellow);
    background-color: var(--midGreen);
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0.5rem;
    padding-left: 0.7rem;

}

.egg-logo {
    justify-content: left;
    align-self: center;
    width: 3.5rem;
    padding-right: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

main #background-bar {
    width: 50%;
    height: 15px;
    border-radius: 12px;
    background-color: rgba(169, 169, 169, 0.8);
}

main #foreground-bar {
    width: 0;
    height: 15px;
    border-radius: 12px;
    background-color: green;
}

footer ul {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer button {
    flex: 3 0 auto;
    height: 3.2rem;
    border: 0.2px solid white;
    border-radius: 5px;
    border-bottom: 0px;
    background-color: var(--midGreen);
    padding: 0;
}

footer button.selected {
    flex: 4 0 auto;
    background-color: var(--darkGreen);
}

footer a {
    font-family: var(--textFont);
    text-decoration: none;
    color: white;
}